body 
{
	color: #555555;
  font-family: 'muli','san-serif';
	font-size: 10px;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}

*, *:after, *:before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.divider
{
  width: auto;
  height: 1px;
  background-color: #d7d7d7;
}

.invisible img
{
  width: 0;
  height: 0;
}

a
{
  text-decoration: none;
  color: #555555;
}

a:visited
{
  color: #555555;
}


/*-----title-----*/


.icon
{
  background-image: url(../img/Q-icon.png);
  background-repeat: no-repeat;
  width: 80px; height: 80px;
  margin: 3em auto;
}

.icon-2
{
  background-image: url(../img/Q-icon.png);
  background-repeat: no-repeat;
  width: 80px; height: 80px;
  margin: 3em auto;
  display: block;
}

.icon-2:hover
{
  background-image: url(../img/Q-icon2.png);
  cursor: pointer;

  transition: 1s;
}


.title-wrap
{
  overflow: hidden;
  width: 284px;
  padding-left: 20px;
  margin: 0px auto 1.6em;
  clear: both;
}

.qiuzao
{
	width: 0;
	overflow: hidden;
	font-family: 'Inconsolata';
  font-size: 4em;
  float: left;

  -webkit-animation: typing 2s steps(12) forwards;
  -moz-transition: typing 2s steps(12) forwards;
	animation: typing 2s steps(12) forwards;


	-webkit-animation-delay: 1s;
	-moz-animation-delay:1s;
	animation-delay: 1s;
}

@-webkit-keyframes typing {
   from {
      width: 0;
   }
      to {
      width: 240px;
   }
}

@-moz-keyframes typing {
   from {
      width: 0;
   }
      to {
      width: 240px;
   }
}

@keyframes typing {
   from {
      width: 0;
   }
      to {
      width: 240px;
   }
}

.qiuzao-2
{
  width: 12ch;
  font-family: 'Inconsolata';
  font-size: 4em;
}

.cursor-wrapper
{
	float: left;
	overflow: hidden;
	width: 2ch;

	-webkit-animation: disappear 6s step-end forwards;
	-moz-animation: disappear 6s step-end forwards;
	animation: disappear 6s step-end forwards;
}

@keyframes disappear {
   100% {
     width: 0;
   }
}

@-moz-keyframes disappear {
   100% {
     width: 0;
   }
}

@-webkit-keyframes disappear {
   100% {
     width: 0;
   }
}

.cursor
{
	float: left;
	font-family: 'Inconsolata';
  font-size: 3.6em;


	-webkit-animation: cursor 1s step-end infinite;
	-moz-animation: cursor 1s step-end infinite;
	animation: cursor 1s step-end infinite;
}

@keyframes cursor {
   50% {
     color: transparent;
   }
}

@-webkit-keyframes cursor {
   50% {
     color: transparent;
   }
}

@-moz-keyframes cursor {
   50% {
     color: transparent;
   }
}


.nav
{
  font-weight: lighter;
  overflow: hidden;
  font-size: 1.6em;
  width: 230px;
  margin: 0 auto 2em;
}

.nav a
{
  display: inline;
}

.nav a:hover
{
  cursor: pointer;
  color: #63becd;

  transition: .3s;
}

.work
{
  float; left;
  width: 40%;
}

.about
{
  float: right;
}


/*-----------parallax--------------*/

.parallax-section {
	  background-position: center top;
    margin-top: 20px;
	  width: 100%;
    height: 450px;
    background-attachment: fixed;
    background-image: url('../img/isometropolis2.jpg');
    text-align: center;
    position: relative;

}

.parallax-section:before
{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.head-text
{
  margin-left:auto;
  margin-right: auto;

  font-size: 3em;
  font-weight: lighter;
  font-family: 'Inconsolata';
  color: #636363;
  line-height: 2em;
  text-align: center;

  display: inline-block;
  width: 60%;
  vertical-align: middle;

}

.head-text span
{
  color: #63becd;
}

.social-icons
{
  width: 270px;
  overflow: hidden;
  position: absolute;
  bottom: 20px;
  left:50%;
  margin-left: -135px;
}

.social-icons a
{
  width: 36px;
  height: 36px;
  float: left;
  margin: 15px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

.email
{
  background-image: url(../img/email.png);
}

.behance
{
  background-image: url(../img/behance.png);
}

.linked
{
  background-image: url(../img/linkedin.png);
}

.twitter
{
  background-image: url(../img/twitter.png);
}

.social-icons a:hover
{
  background-size: 96%;
  background-position: center;
  padding:1px;
}

/*-----------pic-groups--------------*/

.pic-group
{
  margin: 40px auto 40px;
  clear: both;
  width: 900px;
}

.pic-row
{
  overflow: hidden;  
  clear: both;
}

.pic-section1
{
  float: left;
  width: 400px;
  margin-bottom: 8em;
}

.pic-section2
{
  float: right;
  width: 400px;
  margin-bottom: 8em;
}

.pic-text
{
  width: auto;
  text-align: center;
}

.pic-title
{
  font-size: 1.8em;
  display: block;
  font-weight: bolder;
  color: #363636;
  margin-top: 2em;
}

.pic-title span
{
  color: #63becd;
  font-size: 1.4em;
  font: bolder;
}

.pic-title:hover
{
  color: #63becd;
  cursor: pointer;

  transition: .3s;
}

.pic-intro
{
  font-size: 1.8em;
  font-family: "Inconsolata";
  line-height: 1.6em;
  margin: 1em auto 2em;
  height: 3.2em;
}

div .pic {
  width: 400px;
  height: 400px;
  position: relative;

  display: inline-block;
  cursor: pointer;
  box-shadow: inset 0 0 0 5px white;
}

.pic1
{
  background-image: url(../img/pv1.jpg);
}

.pic2
{
  background-image: url(../img/pv2.jpg);
}

.pic3
{
  background-image: url(../img/pv3.jpg);
}

.pic4
{
  background-image: url(../img/pv4.jpg);
}

.pic5
{
  background-image: url(../img/pv5.jpg);
}

.pic1:hover
{
  background-image: url(../img/pv1-c.jpg);
  transition: .3s;
}

.pic2:hover
{
  background-image: url(../img/pv2-c.jpg);
  transition: .3s;
}

.pic3:hover
{
  background-image: url(../img/pv3-c.jpg);
  transition: .3s;
}

.pic4:hover
{
  background-image: url(../img/pv4-c.jpg);
  transition: .3s;
}

.pic5:hover
{
  background-image: url(../img/pv5-c.jpg);
  transition: .3s;
}

.pic-group svg {
  position: absolute;
  top: 0;
  left: 0;
}

.pic-group svg line {
  stroke-width: 2px;
  stroke: grey;
  fill: none;
  stroke-dasharray: 400 400;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s
}

.pic:hover svg line.top {
  -webkit-transform: translateX(-800px);
  transform: translateX(-800px);
}

.pic:hover svg line.bottom {
  -webkit-transform: translateX(800px);
  transform: translateX(800px);
}

.pic:hover svg line.left {
  -webkit-transform: translateY(800px);
  transform: translateY(800px);
}

.pic:hover svg line.right {
  -webkit-transform: translateY(-800px);
  transform: translateY(-800px);
}

/*----about----*/

.about-content
{
  width: 60%;
  overflow: hidden;
  
  margin: 4em auto 8em;
}

.head
{
  width: 100%;
}

.about-text
{
  margin-top: 6em;
  margin-bottom: 4em;
}

.about-title
{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin: 2em;
}

.about-social-icons
{
  width: 265px;
  height: 36px;
  overflow: hidden;
  margin: auto;
}

.about-social-icons a
{
  width: 36px;
  height: 36px;
  float: left;
  margin: 0em 15px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-social-icons a:hover
{
  background-size: 96%;
  background-position: center;
  padding:1px;
}

.about-intro
{
  font-family: "Inconsolata";
  font-size: 1.6em;
  width: 80%;
  margin: auto;
}

.about-intro p
{
   margin-top: 2em;
   line-height: 2em;

   padding-left: 1em;
   border-left: 1px solid #63becd;
}

.about-intro span
{
  color: #63becd;
}

/*----old----*/

.page-content
{
  width: 80%;
  margin: auto auto 14em;
}

.embed-pic
{
  width: 100%;
  display: block;
  margin: 5em auto;
}

.border1
{
  border-bottom: 10px solid black;
}

.border2
{
  border-bottom: 10px solid #ffc62a;
}

.border3
{
  border-bottom: 10px solid #63becd;
}

.border4
{
  border-bottom: 10px solid #5cc1d4;
}

.width-adjust
{
  width: 80%;
}

.width-adjust2
{
  width: 40%;
}

.width-adjust3
{
  width: 65%;
}

.width-min
{
  min-width: 400px;
  max-width: 550px;
}

div .page-title
{
  text-align: center;
/*  font-family: "Inconsolata";*/
  font-weight: bold;
  font-size: 4em;
  margin: 2em auto 1em;
  letter-spacing: -0.02em;
}

.page-content p
{
  width: 70%;
  margin:auto;
  font-family: "Inconsolata";
  font-size: 1.6em;
  line-height: 2em;
  margin-top: 2em;
}

.page-content p a
{
  color: #63becd;
}


/*----ssld----*/

.capture
{
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  -webkit-transform: translateY(-1em);
  transform: translateY(-1em);
}

/*.page-content li
{
  width: 70%;
  margin:auto;
  font-family: "Inconsolata";
  font-size: 1.6em;
  line-height: 2em;
  margin-top: 1em;

  display: list-item;
  list-style: circle inside;
  text-indent: -1em;
  padding-left: 1em;
}*/

/*----211----*/

.embed-pic-row
{
  overflow: hidden;
  margin: 6em auto;
  padding-left: 5%;
}

.row-pic
{
  float: left;
  display: block;
  width: 28.2%;
  margin-right: 5%;
}

.width-fixed
{
  width: 60px;
}

.embed-pic-row-2
{
  width: 66.4%;
}

.row-pic-2
{
  width: 42%;
  margin-right: 7.5%;
}


/*----ninja----*/

.fixed-width-1
{
  display: block;
  width: 600px;
  margin: auto;
}

.reminder
{
  margin-top: 5em;
}

.tail
{
  margin-bottom: 5em;
}

/*-----------pic-groups-2--------------*/

.pic-group-2
{
  margin: 6em auto 6em;
  clear: both;
  width: 1000px;
  overflow: hidden;
  padding-left: 100px;
}

.pic-section-2
{
  float: left;
  width: 200px;
  margin-right: 100px;
  margin-bottom: 6em;
}

.pic-text-2
{
  width: auto;
  text-align: center;
}

.pic-title-2
{
  font-size: 1.4em;
  display: block;
  font-weight: bolder;
  color: #363636;
  margin: 2em auto;
}

.pic-title-2 span
{
  color: #63becd;
  font-size: 1.4em;
  font: bolder;
}

.pic-title-2:hover
{
  color: #63becd;
  cursor: pointer;

  transition: .3s;
}

div .pic-2 {
  width: 200px;
  height: 200px;
  position: relative;
  background-size: contain;

  display: inline-block;
  cursor: pointer;
  box-shadow: inset 0 0 0 5px white;
}

.pic1
{
  background-image: url(../img/pv1.jpg);
}

.pic2
{
  background-image: url(../img/pv2.jpg);
}

.pic3
{
  background-image: url(../img/pv3.jpg);
}

.pic4
{
  background-image: url(../img/pv4.jpg);
}

.pic5
{
  background-image: url(../img/pv5.jpg);
}

.pic6
{
  background-image: url(../img/pv6.jpg);
}

.pic7
{
  background-image: url(../img/pv7.jpg);
}

.pic1:hover
{
  background-image: url(../img/pv1-c.jpg);
  transition: .3s;
}

.pic2:hover
{
  background-image: url(../img/pv2-c.jpg);
  transition: .3s;
}

.pic3:hover
{
  background-image: url(../img/pv3-c.jpg);
  transition: .3s;
}

.pic4:hover
{
  background-image: url(../img/pv4-c.jpg);
  transition: .3s;
}

.pic5:hover
{
  background-image: url(../img/pv5-c.jpg);
  transition: .3s;
}

.pic6:hover
{
  background-image: url(../img/pv6-c.jpg);
  transition: .3s;
}

.pic7:hover
{
  background-image: url(../img/pv7-c.jpg);
  transition: .3s;
}

.pic-group-2 svg {
  position: absolute;
  top: 0;
  left: 0;
}

.pic-group-2 svg line {
  stroke-width: 2px;
  stroke: grey;
  fill: none;
  stroke-dasharray: 200 200;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s
}

.pic-2:hover svg line.top {
  -webkit-transform: translateX(-400px);
  transform: translateX(-400px);
}

.pic-2:hover svg line.bottom {
  -webkit-transform: translateX(400px);
  transform: translateX(400px);
}

.pic-2:hover svg line.left {
  -webkit-transform: translateY(400px);
  transform: translateY(400px);
}

.pic-2:hover svg line.right {
  -webkit-transform: translateY(-400px);
  transform: translateY(-400px);
}

/*----footer----*/

.footer
{
  margin-top: 8em;
}

.icon-up
{
  background-image: url(../img/s-icon1.png);
  background-repeat: no-repeat;
  width: 50px; height: 50px;
  margin: auto;
  display: block;
}

.icon-up:hover
{
  background-image: url(../img/s-icon2.png);
  cursor: pointer;
  -moz-transition: .8s;
  transition: .8s;
}

.copyright
{
  font-size: 1.2em;
  width: 220px;
  margin: 2em auto 3em;
}

@media screen and (max-width: 910px) {

.pic-group
{
  width: 400px;
}

.pic-section2
{
  float: right;
}

}

@media screen and (max-width: 850px) {

.pic-group-2
{
  width: 700px;
}

}

@media screen and (max-width: 400px) {

.pic-group-2
{
  width: 320px;
  padding-left: 60px;
}

.embed-pic
{
  width: 100%;
}

.width-adjust
{
  width: 100%;
}

.width-adjust2
{
  width: 100%;
}

.width-adjust3
{
  width: 100%;
}

.fixed-width-1
{
  width: 100%;
}

.head-text
{
  font-size: 2.4em;
}

}


