$mBrown: #c7b299;
$mPink: #f74461;
$textGray: #576069;
$borderGray: #cacaca;
$textFieldBg: #fafafa;
$footerGray: #535b64;

@mixin work-tile-overlay($background) {
	width: 100%; height: 100%;
	background: -moz-radial-gradient(rgba(82, 82, 82, 0.6), rgba(0,0,0,0.6));
	background: -webkit-radial-gradient(rgba(82, 82, 82, 0.6), rgba(0,0,0,0.6));
	background: -ms-radial-gradient(rgba(82, 82, 82, 0.6), rgba(0,0,0,0.6));
	background: -o-radial-gradient(rgba(82, 82, 82, 0.6), rgba(0,0,0,0.6));
	pointer-events: none;
	position: relative;
	display: none;

	&:before {
		content: "";
		width: 4em; height: 4em;
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		margin: auto;
		background:$background;
		-webkit-background-size: contain;
		background-size: contain;
	}
}

@import 'reset';

a {
	text-decoration: none;
}

.rocksalt {
	font-family: Georgia, serif;
	color: $mPink;
	font-size: 1.5em;
	text-transform: capitalize;
}

.jvFloat .placeHolder {
	color: rgb(150, 150, 150);
}

.seperate-line {
	font-size: 16px;
	background: url('../img/dots_horizontal.png') left 60% repeat-x;
	overflow: auto;
	height: 1em;
	width: 100%;
	overflow: visible;
	list-style-type: disc;
	position: relative;

	li {
		position: absolute;
		height: 100%;
		line-height: 1em;
		color: $mBrown;
	}

	li.active {
		font-size: 18px;
		color: $mPink;
		margin-top: -1px;
	}

	.pacman {
		position: absolute;
		height: 200%;
		width: 4em;
		top:-50%;
		background:transparent url('../img/pacman.png') left top no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
	}
}

.margin-left-3em {
	margin-left: 3em;
}

.clear {
	width: 100%;
	clear: both;
}

html {
	background:transparent url('../img/bg-pattern.png') repeat;
}

body {
	background:transparent url('../img/header-img-large.png') left 1em no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	background-position: 0 5em;
	font-size: 17px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding-top: 2em;
}

.top-button {
	position: fixed;
	top: 5em; right: 5%;
	width: 3em; height: 3em;
	background:transparent url('../img/back-to-top.png') left top no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	cursor: pointer;
	display: none;
	z-index: 20;
}

.content {
	overflow: visible;
	margin: 0 auto;

	.middle-column {
		max-width: 1200px;
		min-width: 800px;
		width: 90%;
		margin: 0 auto;
	}

	.content-header {
		width: 100%;
		height: 0;
		padding-bottom: 40%;

		.section-index {
			position: relative;
			width: 50%;
			float: right;
			overflow: visible;
			cursor: pointer;

			.section-index-item {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				float: right;
				font-size: 1.2em;
				color: $mPink;
				width: 25%;
				padding-left: 0.5em;

				&:hover {
					font-size: 1.3em;
				}

				span {
					position: absolute;
					bottom: 0; left: 0;
				}
			}

			ul {
				position: absolute;
				left: 0; right: 0; top: 1em;
				
				li {
					&:nth-child(n+1) {
						left: 75%;
					}
					&:nth-child(n+2) {
						left: 50%;
					}
					&:nth-child(n+3) {
						left: 25%;
					}
				}
			}
		}
	}

	.content-about {	
		height: 16em;
		position: relative;

		ul {
			.pacman {
				left: 15%;
			}

			li {
				&:nth-child(n+2) {
					left: 20%;
				}

				&:nth-child(n+3) {
					left: 30%;
				}

				&:nth-child(n+4) {
					left: 40%;
				}

				&:last-of-type {
					left: 101%;
				}
			}
		}

		.about-desc {
			width: 100%;
			line-height: 2em;
			padding-top: 2em;

			p {
				color: $textGray;

				span {
					color: $mPink;
					// font-size: 1.2em;
				}
			}
		}

		.portrait-small {
			width: 30%;
			height: 12em;
			float: right;
			margin-top: -8px;
			background:transparent url('../img/portrait-small.png') center top no-repeat;
			-webkit-background-size: contain;
			background-size: contain;
			cursor: pointer;

			&:hover {
				background:transparent url('../img/portrait-hover.png') center top no-repeat;
				-webkit-background-size: contain;
				background-size: contain;
			}
		}	

		.portrait-big {
			position: absolute;
			width: 35%; height: 25em;
			right: 0; top: 4em; bottom: 0;
			margin: auto 0;
			background:transparent url('../img/portrait-clicked.png') center top no-repeat;
			-webkit-background-size: contain;
			background-size: contain;
			display: none;
			cursor: pointer;
		}

		.stat-charts {
			width: 70%;
			height: 15em;
			margin-left: 5%;
			background:transparent url('../img/Data-circle.png') left top no-repeat;
			-webkit-background-size: contain;
			background-size: contain;
			display: none;
		}
	}

	.content-work {
		ul.seperate-line {
			.pacman {
				left: 25%;
			}

			li {
				position: absolute;

				&:nth-child(n+2) {
					left: 30%;
				}

				&:nth-child(n+3) {
					left: 40%;
				}

				&:last-of-type {
					left: 101%;
				}
			}
		}

		.slideshow-container {
			width: 75%;
			height: 0;
			padding-bottom: 46.875%;
			position: relative;
			margin: 5em auto;
			-webkit-box-shadow: inset 0 0 4px $borderGray;
			-moz-box-shadow: inset 0 0 4px $borderGray;
			box-shadow: inset 0 0 4px $borderGray;

			.work-slideshow {
				position: absolute;
				top: 3%; left: 2%; right: 2%;
				height: 0;
				padding-bottom: 58.75%; // .625 * (1 - 0.03 * 2)

				.slidesjs-navigation {
					display: inline;
					position: absolute;
					top: 0; bottom: 0;
					width: 30%;
					color: transparent;
					z-index: 20;
				}

				.slidesjs-previous {
					left: 0;

					&:hover {
						background: -webkit-gradient(linear, left top, right top, from(rgba(155, 155, 155, 0.1)), to(rgba(155, 155, 155, 0)));
						background: -webkit-linear-gradient(left, rgba(155, 155, 155, 0.1), rgba(155, 155, 155, 0));
						background: -moz-linear-gradient(left, rgba(155, 155, 155, 0.1), rgba(155, 155, 155, 0));
						background: -o-linear-gradient(left, rgba(155, 155, 155, 0.1), rgba(155, 155, 155, 0));
						background: linear-gradient(left, rgba(155, 155, 155, 0.1), rgba(155, 155, 155, 0));
						cursor: pointer;
					}
				}

				.slidesjs-next {
					right: 0;

					&:hover {
						background: -webkit-gradient(linear, right top, left top, from(rgba(155, 155, 155, 0.1)), to(rgba(155, 155, 155, 0)));
						background: -webkit-linear-gradient(right, rgba(155, 155, 155, 0.1), rgba(155, 155, 155, 0));
						background: -moz-linear-gradient(right, rgba(155, 155, 155, 0.1), rgba(155, 155, 155, 0));
						background: -o-linear-gradient(right, rgba(155, 155, 155, 0.1), rgba(155, 155, 155, 0));
						background: linear-gradient(right, rgba(155, 155, 155, 0.1), rgba(155, 155, 155, 0));
						cursor: pointer;
					}
				}

				ul {
					list-style-type: none;
					position: absolute;
					top: 0; left: 0; right: 0;
					margin: 58% auto 0 auto;
					width: 18.75em;
					z-index: 20;

					li {
						float: left;
						width: 0.75em; height: 0.75em;
						margin-right: 1.5em;

						a {
							display: block;
							width: 100%; height: 100%;
							text-decoration: none;
							-webkit-border-radius: 50%;
							-moz-border-radius: 50%;
							border-radius: 50%;
							background: white;
							background: rgba(255, 255, 255, 0.4);
							color: transparent;
						}

						a.active {
							background: gray;
							background: rgba(255, 255, 255, 0.8);
						}

						&:last-of-type {
							margin-right: 0;
						}
					}
				}
			}
		}

		.work-tiles {
			margin: 0 auto 5em auto;
			// for 7 tiles layout
			width: 900px;

			// for 6 tiles layout
			// width: 765px;

			// for 5 tiles layout
			// width: 630px;


			.hex-tile-container {
				height: 156px;
				width: 90px;
				position: relative;
				overflow: visible;
				float: left;
				margin-right: 180px;

				&:nth-child(7n+1) {
					margin-left: 135px;
				}

				// &:nth-child(n+3) {
				// 	margin-top: -78px;
				// }

				// &:nth-child(5n+2) {
				// 	margin-right: 90px;
				// }

				// &:nth-child(5n+5) {
				// 	margin-right: 0;
				// }

				// for 6 & 7 tiles layout
				&:nth-child(n+4) {
					margin-top: -78px;
				}

				// for 6 tiles layout
				// &:nth-child(3n) {
				// 	margin-right: 0;
				// }

				// for 7 tiles layout
				&:nth-child(7n) {
					margin-right: 0;
				}

				&:nth-child(7n-4) {
					margin-right: 90px;
				}

				&:last-of-type {
					margin-bottom: 5em;
				}

				&:before {
					content: "";
					width: 0;
					height: 0;
					// border-right: 45px solid $borderGray;
					// border-top: 78px solid transparent;
					// border-bottom: 78px solid transparent;
					position: absolute;
					left: -45px;
				}

				&:after {
					content: "";
					width: 0;
					height: 0;
					// border-left: 45px solid $borderGray;
					// border-top: 78px solid transparent;
					// border-bottom: 78px solid transparent;
					position: absolute;
					right: -45px;
				}


			}

			.inner-hex-tile-container {
				height: 154px;
				width: 88px;
				background-color: white;
				position: absolute;
				top: 1px; left: 1px;
				z-index: 10;
				overflow: visible;

				&:before {
					content: "";
					width: 0;
					height: 0;
					border-right: 44px solid white;
					border-top: 77px solid transparent;
					border-bottom: 77px solid transparent;
					position: absolute;
					left: -44px;
				}

				&:after {
					content: "";
					width: 0;
					height: 0;
					border-left: 44px solid white;
					border-top: 77px solid transparent;
					border-bottom: 77px solid transparent;
					position: absolute;
					right: -44px;
				}
			}

			.hexagon {
				width: 146px;
				height: 230px;
				overflow: hidden;
				position: absolute;
				left: -29px; top: -38px;
				z-index: 20;
				visibility: hidden;
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				transform: rotate(90deg);

				.hexagon-in1 {
					overflow: hidden;
					width: 100%; height: 100%;
					-webkit-transform: rotate(-60deg);
					-moz-transform: rotate(-60deg);
					-ms-transform: rotate(-60deg);
					-o-transform: rotate(-60deg);
					transform: rotate(-60deg);

					.hexagon-in2 {
						overflow: hidden;
						width: 100%; height: 100%;
						visibility: visible;
						-webkit-transform: rotate(-60deg);
						-moz-transform: rotate(-60deg);
						-ms-transform: rotate(-60deg);
						-o-transform: rotate(-60deg);
						transform: rotate(-60deg);

						
						.img-container {
							width: 120%; height: 100%;
							margin-left: -10%;
							-webkit-transform: rotate(30deg);
							-moz-transform: rotate(30deg);
							-ms-transform: rotate(30deg);
							-o-transform: rotate(30deg);
							transform: rotate(30deg);
							-webkit-backface-visibility: hidden;
							cursor: pointer;
						}

						.img-container.timer {
								background:url('../img/demo/timer/preview.png') left top no-repeat;
								background-position: 0 75%;
						}

						.img-container.domain-search {
							background:url('../img/demo/domain/preview.png') left top no-repeat;
							background-position: 0 75%;
						}

						.img-container.timezone {
							background:url('../img/demo/timezone/preview.png') left top no-repeat;
							background-position: 0 75%;
						}

						.img-container.ignite {
							background:url('../img/demo/ignite/preview.png') left top no-repeat;
							background-position: 0 75%;
						}

						.img-container.book {
							background:url('../img/demo/book/preview.png') left top no-repeat;
							background-position: 0 75%;
						}

						.img-container.ssld {
							background:url('../img/demo/ssld/preview.png') left top no-repeat;
							background-position: 0 75%;
						}

						.img-container.secondhand {
							background:url('../img/demo/secondhand/preview.png') left top no-repeat;
							background-position: 0 75%;
						}

						.android {
							@include work-tile-overlay(url('../img/android.png') center center no-repeat);
						}

						.apple {
							@include work-tile-overlay(url('../img/apple.png') center center no-repeat);
						}

						.web {
							@include work-tile-overlay(url('../img/web.png') center center no-repeat);
						}

						.overlay.active {
							display: block;
						}
					}
				}
			}
		}
	}

	.content-contact {
		position: relative;

		ul {
			.pacman {
				left: 35%;
			}

			li {
				position: absolute;

				&:nth-child(n+2) {
					left: 40%;
				}

				&:last-of-type {
					left: 101%;
				}
			}
		}

		.seperate-line {
			margin-bottom: 3em;
		}

		.vertical-seperate-line {
			position: absolute;
			width: 40%;
			height: 31em;
			left: 60%; top: 2.2em;
			background:transparent url('../img/dots_vertical.png') left top repeat-y;
			z-index: -10;

			.second-horizontal-seperate-line {
				position: absolute;
				height: 16px;
				bottom: 0; left: 0; right: 0;
				background:transparent url('../img/dots_horizontal.png') left bottom repeat-x;
				margin-bottom: 0;
				
				li {
					&:last-of-type {
						margin-top: 5px;
						left: 103%;
					}
				}
			}
		}

		.contact-form {
			float: left;
			width: 60%;

			.input-block {
				width: 90%;
				margin: 1.5em auto;
				padding-left: 1em; padding-right: 1em;
				background: $textFieldBg;
				border: 1px solid $mBrown;
				font-size: 1em;
				font-family: 'Lato', sans-serif;
				font-weight: lighter;
			}

			.one-line {
				height: 2.5em;
				line-height: 2.5em;
			}

			.multi-line {
				margin-top: 1.5em;
				height: 10em;
				line-height: 2em;
				resize: none
			}

			.submit-button {
				float: right;
				width: 8em;
				height: 3em;
				margin-right: 5%;
				background:transparent url('../img/btn-normal.png') left top no-repeat;
				-webkit-background-size: contain;
				background-size: contain;
				cursor: pointer;

				&:hover {
					background:transparent url('../img/btn-hover.png') left top no-repeat;
					-webkit-background-size: contain;
					background-size: contain;
				}

				&:active {
					background:transparent url('../img/btn-click.png') left top no-repeat;
					-webkit-background-size: contain;
					background-size: contain;
				}
			}

			.error {
				border: 2px solid red;
			}
		}

		.contact-more-info {
			float: right;
			width: 40%;
			padding-top: 1.5em;
			padding-left: 2em; padding-right: 2em;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			p {
				line-height: 2em;
			}

			.rocksalt {
				font-size: 1.2em;
			}
		}
	}
}

.footer {
	height: 12em;
	min-width: 800px;
	margin: 0 auto;

	.ghosts {
		height: 100%;
		position: relative;
		margin-bottom: 1em;

		.ghost {
			position: absolute;
			bottom: 0;
		}

		#yellow-ghost {
			height: 5em; width: 5em;
			left: 5%;
			background:transparent url('../img/yellow-ghost.png') left top no-repeat;
			-webkit-background-size: contain;
			background-size: contain;
		}

		#blue-ghost {
			height: 5em; width: 5em;
			right: 5%;
			background:transparent url('../img/blue-ghost.png') left top no-repeat;
			-webkit-background-size: contain;
			background-size: contain;
		}

		#green-ghost {
			height: 3em; width: 3em;
			right: 13%;
			background:transparent url('../img/green-ghost.png') left top no-repeat;
			-webkit-background-size: contain;
			background-size: contain;
		}
	}

	.footer-bar {
		position: relative;
		background: -webkit-gradient(linear, left top, left bottom, from(rgb(57, 60, 69)), to(rgb(83, 92, 101)));
		background: -webkit-linear-gradient(top, rgb(57, 60, 69), rgb(83, 92, 101));
		background: -moz-linear-gradient(top, rgb(57, 60, 69), rgb(83, 92, 101));
		background: -o-linear-gradient(top, rgb(57, 60, 69), rgb(83, 92, 101));
		background: linear-gradient(top, rgb(57, 60, 69), rgb(83, 92, 101));

		height: 4em;
		line-height: 4em;
		font-size: 0.8em;
		text-align: right;
		padding-right: 5%;

		color: #dadbdb;

		span {
			color: $mPink;
		}

		.decorative-line {
			position: absolute;
			width: 100%; height: 1px;
			top: 0.5em;
			background:#919191;
		}
	}
}

.modal {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	.modal-title {
		font-size: 1.5em;
	}

	.modal-body {
		font-size: 1.2em;
	}
}

.jvFloat {
	display: block;
	margin-top: 0;
}

.jvFloat .placeHolder.active {
	display: block;
	visibility: visible;
	-webkit-transform: translate(0, 0em);
	-moz-transform: translate(0, 0em);
	-o-transform: translate(0, 0em);
	-ms-transform: translate(0, 0em);
	transform: translate(0, 0em);
	-webkit-transition: -webkit-transform 100ms, opacity 120ms, visibility 120ms;
	transition: transform 100ms, opacity 120ms, visibility 120ms;
	opacity: 1;
}

.jvFloat .placeHolder {
	-webkit-transform: translate(0, 1em);
	-moz-transform: translate(0, 1em);
	-o-transform: translate(0, 1em);
	-ms-transform: translate(0, 1em);
	transform: translate(0, 1em);
}

// image preload
body:after {
	content: url(../img/btn-click.png) url(../img/btn-hover.png) url(../img/portrait-hover.png) url(../img/portrait-clicked.png) url(../img/android.png) url(../img/apple.png);
	display: none;
}

@media screen and (max-width: 1200px) {
	body {
		font-size: 16px;
	}
}

@media screen and (max-width: 1100px) {
	body {
		font-size: 15px;
	}

	ul.seperate-line li:last-of-type {
		left: 102% !important;
	}

	// That's ugly, I know it...
	ul.second-horizontal-seperate-line li:last-of-type {
		left: 103% !important;
	}

	.vertical-seperate-line {
		height: 31.5em !important;
	}

	#about-dot {
		left: 25% !important;
	}
}

@media screen and (max-width: 1000px) {
	body {
		font-size: 14px;
	}

	ul.second-horizontal-seperate-line li:last-of-type {
		left: 104% !important;
	}

	#about-dot {
		left: 25% !important;
	}
}

@media screen and (max-width: 800px) {
	body {
		font-size: 12px;
	}

	.vertical-seperate-line {
		height: 32.5em !important;
	}
}