body
{
	font-size: 10px;
	color: #636363;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    background-color: #fcfcfc;

	-webkit-font-smoothing: antialiased;

	min-width: 960px;
	position: relative;

	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;  
	box-sizing: border-box; 
}

/*-------header-------*/

.header-img
{
	width: 100%;
    height: 650px;
    background-image: url(../img/header.jpg);
    background-size: cover;
    display: block;
 }

.header-area
{
	position: relative;
	width: 100%;
}

.text-area
{
	position: absolute;
	bottom: 6em;
	left: 6em;
	overflow: hidden;
}

.header-text
{
    float: left;
    color: #f1f1f1;
    font-size: 7.2em;
    width: auto;
}

.line-1
{
	clear: both;
}

.header-icon
{
	background-image: url(../img/rss.png);
	width: 36px; height: 35px;
	margin-top: 1em;
	float: left;
}

.header-text span
{
	font-size: 1.2em;
}

.header-text span span
{
	color: #fa6c63;
}

.persist-wrapper
{
/*	width: 100%;*/
}

.persist-header
{
	width: 100%;
	height: 110px;
	background-color: #ffffff;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	min-width: 960px;
}

.floatingHeader
{
	position: fixed;
    top: 0;
    visibility: hidden;
    z-index: 3;
}

.intro-group
{
	overflow: hidden;
	margin: 2em 4em 2em;
}

.intro-item
{
	float: left;
	font-size: 2.4em;
	line-height: 1em;
	margin: 0 20px;
}

.intro-item span
{
	font-size: 0.7em;
	color: #898989;
}

.intro-item a
{
	color: #2fc2ef;
}

.social-icons
{
  width: 200px;
  overflow: hidden;
  margin-left: 5em;
}

.social-icons a
{
  width: 24px;
  height: 24px;
  float: left;
  margin: 0 1em;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

.email
{
  background-image: url(../img/email.png);
}

.behance
{
  background-image: url(../img/behance.png);
}

.linked
{
  background-image: url(../img/linkedin.png);
}

.twitter
{
  background-image: url(../img/twitter.png);
}

.tester
{
	width: 10px;
	font-size: 2em;
}

/*-------text-box-------*/

.invisible-box
{
	width: 72%;
	margin: 10em auto;

	position: relative;
	clear: both;
}

.text-box
{   
    width: 100%;
	margin: 0 auto;

	background-color: #ffffff;
	border-radius: 3px;
	border: 1px solid #bbb;

    position: relative;
}

.circle
{
     width: 80px; height: 80px;
     border-radius: 1000px;
     background-color: #cccccc;

     color: #ffffff;
     font-family: "Georgia", serif;
     font-size: 3.6em;
     text-align: center;

     position: absolute;
     top: -40px; left: -40px;
}

.text-title
{
	font-size: 3em;
	color: #2fc2ef;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	margin: 20px auto 30px 40px;
}

.list
{
	margin-bottom: 3em;   
}

.list li
{
   margin-left: 4em;
   padding-left: 1em;
   font-size: 1.8em;
   color: #2fc2ef;
   line-height: 1.6em;
   margin-top: 0.8em;
   width: 60%;

   list-style-image: url(../img/cross.png);
}

.list li span
{
	color: #636363;
}

.list li span span
{
	color: #2fc2ef;
}

.icon
{
	position: absolute;
	right: 5%; top: 0px;
	width: 120px; height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: none;
}

.q-icon
{
	background-image: url(../img/Q-icon.png);
}

.company
{
	background-image: url(../img/company.png);
}

.whyme
{
	background-image: url(../img/whyme.png);
}

.exactly
{
	background-image: url(../img/exactly.png);
}

.secret-skill
{
	background-image: url(../img/secret-skill.png);
}

.come-in {
  -webkit-transform: translateY(150px);
  -moz-transform: translateY(150px);
  transform: translateY(150px);
  opacity: .1;

  -webkit-animation: come-in 1s ease forwards;
  -moz-animation: come-in 1s ease forwards;
  animation: come-in 1s ease forwards;
}

.back-to-top
{
	background-image: url(../img/btt.png);
	background-repeat: no-repeat;
	width: 36px; height: 36px;

	position: fixed;
	z-index: 5;
	top: 13em;
    right: 4em;
    display: none;

    cursor: pointer;

}

@keyframes come-in {
  to { transform: translateY(0); opacity: 1; }
}

@-webkit-keyframes come-in {
  to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes come-in {
  to { -moz-transform: translateY(0); opacity: 1; }
}

/*-------footer-------*/

.footer
{
	margin-top: 20em;
	width: 100%;
	height: 70px;
	background-color: #31353d;
	overflow: hidden;
}

.left-text
{
	float: left;
	margin-left: 6em;
	margin-top: 22px;
	overflow: hidden;
}

.heart
{
	background-image: url(../img/heart.png);
	width: 25px; height: 25px;
	float: left;
}

.left-text div
{
	font-size: 1.4em;
	margin-left: 1em;
	float: left;
	color: #2fc2ef;
	line-height: 25px;
}

.right-text
{
	float: right;
	margin-right: 60px;
	font-size: 1.6em;
	line-height: 70px;
	color: #ffffff;
}

.right-text span
{
	color: #2fc2ef;
	font-size: 0.6em;
}

div .divider-2
{
	font-size: 0.6em;
	color: #ddd;
}

/*-------media queries-------*/

@media screen and (max-width: 1200px) 
{
	.intro-item
	{
		font-size: 1.8em;
	}

	.persis-header
	{
		height: 90px;
	}
}














